*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(img/fondopantalla.jpg);
    background-repeat: repeat;
}

/*HEADER*/

header nav{
    background-color: #183153;
    display: flex;
    padding: 1em;
    position: fixed;
    width: 100%;
    border-bottom: solid 4px #001C40;
}

header h1{
    display: none;
}

.iconoMenu{
    font-size: 30px;

}

.iconoMenu:active{
    color: #FAB005;
}

.menuMov{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFD43B;
}

.menuMov:hover{
    color: #FAB005;
}

.menuMov h2{
    font-size: 1.6em;
    padding-left: 0.5em;
}

ul{
    list-style: none;
    background-color: lightgray;
}

.menu1mov{
    width: 8.5em;
    font-weight: bold;
    font-size: 17px;
    float: left;
    position: fixed;
    margin-top: 3.7em;
}

.menu1mov a{
    color: #FFD43B;
    text-decoration: none;
}

.menu1mov li{
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: #001C40;
}

.menu1mov li:hover{
    color: #FAB005;
    background-color: black;
}

.menu1{
    display: none;
}

.menu2{
    display: none;
}

/*Menú header inferior movil*/
.menuMovInf{
    position: fixed;
    padding: 0.5em;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFD43B;
    background-color: #183153;
    border-top: #001C40 solid 5px;
}

.nombreUser{
    font-size: 20px;
}

.iconoUser{
    font-size: 30px;
}
.logo{
    font-size: 40px;
    border-bottom: solid 5px #FFD43B;
    border-radius: 10px;
}

.login-register{
    font-size: 20px;
}

/*Invisible*/
.invis{
    display: none;
}


/*BODY*/

main h1{
    color: #001C40;
    text-align: center;
    padding: 0.4em;
    padding-top: 2.5em;
    background-color: #63E6BE
    ;
}

.proyecto img{
    border: 3px solid #FFD43B;
    border-radius: 10px;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05234d;
    padding: 1em;
    border-top: #001C40 solid 4px;
    border-bottom: #001C40 solid 4px;
    margin-bottom: 3em;
}

article h2{
    padding: 0.4em;
    color: #FFD43B;
}

article p{
    color: white;
    font-weight: bold;
    
}