*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    /**/
    background: url(img/fondo2.jpg) repeat fixed 100%;
    
}

/*HEADER*/

header nav{
    background-color: #183153;
    display: flex;
    padding: 1em;
    position: fixed;
    width: 100%;
    border-bottom: solid 4px #001C40;
}

.menuTitulo{
    display: none;
}

.iconoMenu{
    font-size: 30px;

}

.iconoMenu:active{
    color: #FAB005;
}

.menuMov{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFD43B;
}

.menuMov:hover{
    color: #FAB005;
}

.menuMov h2{
    font-size: 1.6em;
    padding-left: 0.5em;
}

ul{
    list-style: none;
    background-color: lightgray;
}

.menu1mov{
    width: 8.5em;
    font-weight: bold;
    font-size: 17px;
    float: left;
    position: fixed;
    margin-top: 3.7em;
    border-bottom: 3px solid #183153;
    border-right: 3px solid #183153;
}

.menu1mov a{
    color: #FFD43B;
    text-decoration: none;
}

.menu1mov li{
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: #001C40;
}

.menu1mov li:hover{
    color: #FAB005;
    background-color: #183153;
}

.menu1{
    display: none;
}

.menu2{
    display: none;
}

/*Menú header inferior movil*/
.menuMovInf{
    position: fixed;
    padding: 0.5em;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFD43B;
    background-color: #183153;
    border-top: #001C40 solid 5px;
}

.menuMovInf a{
    color: #FFD43B;
    text-decoration: none;
}

.menuMovInf a:hover{
    color: #FAB005;
}

.nombreUser{
    font-size: 20px;
}

.iconoUser{
    font-size: 30px;
}
.logo{
    font-size: 40px;
    border-bottom: solid 5px #FFD43B;
    border-radius: 10px;
    margin-right: 0.75em;
}

.logo:hover{
    border-bottom: solid 5px #FAB005;
}

.login-register{
    font-size: 20px;
    margin-right: 1em;
}

/*Invisible*/
.invis{
    display: none;
}


/*BODY*/

main h1{
    color: #FFD43B;
    font-weight: bold;
    text-align: center;
    padding: 0.4em;
    padding-top: 2.4em;
    padding-bottom: 0.5em;
    text-shadow: 3px 3px #9c6e00;
    font-size: 35px;
}

.proyecto img{
    border: 4px solid #FFD43B;
    border-radius: 10px;
}

section:first-child{
    margin-top: 0px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05234d;
    padding: 2em;
    border-top: #001C40 solid 4px;
    border-bottom: #001C40 solid 4px;
    margin-bottom: 8em;
}


article h2{
    padding: 0.4em;
    color: #FFD43B;
}

article p{
    color: white;
    font-weight: bold;
    
}

/*FOOTER*/
.footerIcons{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 55px;
    background-color: #343A40;
    padding: 0.5em;
}

.footerIcons label{
    padding: 0.35em;
}

.footerIcons label:hover{
    color: #FAB005;
}

.footerInfo{
    color: white;
    background-color: #212529;
    margin-bottom: 4.5em;
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    font-weight: bold;
}

.footerInfoSub1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
}

.footerInfoSub1 span{
    padding: 0.5em;
}

.footerInfoSub1 a{
    color: #FAB005;
    text-decoration: none;
}

.footerInfoSub2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0.20em;
    padding-bottom: 2.5em;
    padding-right: 0.4em;
    padding-left: 0.4em;
}

/*
==========
VERSIÓN PC
==========
*/

@media (min-width:1366px){
    .menuMovInf{
        display: none;
    }

    .menu1mov{
        display: none;
    }

    .menuMov{
        display: none;
    }

    .menu1{
        display: flex;
    }

    .menu1 li{
        padding: 34px;
        font-size: 1.25vw;
        font-weight: bold;
        background-color: #183153;
        color: #FFD43B;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .menu1 a{
        text-decoration: none;
    }

    .menu1 li:hover{
        background-color: #05234d;
        text-shadow: 2px 2px #b88101;
    }

    header nav{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu2{
        display: flex;
    }

    .menu2 li{
        padding: 34px;
        font-size: 1.25vw;
        font-weight: bold;
        background-color: #183153;
        color: #FFD43B;
        text-transform: uppercase;
        letter-spacing: 2px;
        flex-wrap: nowrap;
    }

    .menu2 a{
        text-decoration: none;
    }

    .menu2 li:hover{
        background-color: #05234d;
        text-shadow: 2px 2px #b88101;
    }

    .menuTitulo{
        display: block;
        position: absolute;
        left: 46%;
        text-align: center;
        font-weight: bold;
        color: #FFD43B;   
    }

    .menuTitulo h1{
        font-size: 3vw;
        border-left: #FFD43B solid 4px;
        border-right: #FFD43B solid 4px;
        border-radius: 10px;
    }

    .menuTitulo h2{
        font-size: 0.9vw;
    }

    /*BODY*/
    main h1{
        padding-top: 2.75em;
        text-decoration: none;
        font-size: 45px;
        text-shadow: 3px 3px #9b6d02;
    }

    article{
        margin: 3em;
        flex-direction: row;
    }

    /*FOOTER*/
    .footerInfo{
        margin-bottom: 0;
    }
}