*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #515E7B;
}

/*HEADER*/

header nav{
    background-color: #183153;
    display: flex;
    padding: 1em;
}

header h1{
    display: none;
}

.iconoMenu{
    font-size: 30px;

}

.iconoMenu:active{
    color: #FAB005;
}

.menuMov{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFD43B;
}

.menuMov:hover{
    color: #FAB005;
}

.menuMov h2{
    font-size: 1.5em;
    padding-left: 0.5em;
}

ul{
    list-style: none;
    background-color: lightgray;
}

.menu1mov{
    width: 8.5em;
    font-weight: bold;
    font-size: 17px;
    float: left;
    position: absolute;
}

.menu1mov a{
    color: #FFD43B;
    text-decoration: none;
}

.menu1mov li{
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: #001C40;
}

.menu1mov li:hover{
    color: #FAB005;
    background-color: black;
}

.menu1{
    display: none;
}

.menu2{
    display: none;
}

/*Menú header inferior movil*/
.menuMovInf{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFD43B;
}

.nombreUser{
    font-size: 20px;
}

.iconoUser{
    font-size: 30px;
}
.logo{
    font-size: 40px;
    border-bottom: solid 5px #FFD43B;
    border-radius: 10px;
}

.login-register{
    font-size: 20px;
}

/*BODY*/
